*/.idea/*
*/.idea
*/cmake-build-debug/*
*/cmake-build-debug
*/build/*
*/build
*/CMakeCache.txt
*/CMakeFiles/*
*/Makefile
*/QTwo
*/QOne
*/cmake_install.cmake
*/.vscode/*
*/.vscode
*/Testing/*
*/Testing
*.cbp
.DS_Store
